{% extends 'base.html.twig' %}

{% block title %}Reponse index{% endblock %}

{% block body %}

<h1 class="text-5xl font-bold p-20">Reponse index</h1>
    
<div class="overflow-x-auto pl-20 pr-20 pb-20">
  <table class="table table-zebra w-full shadow-xl">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Reponse</th>
                <th>ReponseExpected</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponses %}
            <tr>
                <td>{{ reponse.id }}</td>
                <td>{{ reponse.question }}</td>
                <td>{{ reponse.reponse }}</td>
                <td>{{ reponse.reponseExpected ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-outline btn-primary" href="{{ path('app_reponse_show', {'id': reponse.id}) }}">show</a>
                    <a class="btn btn-outline btn-secondary" href="{{ path('app_reponse_edit', {'id': reponse.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('app_reponse_new') }}">Create new</a>
{% endblock %}
