{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1 class="text-5xl font-bold p-20">Categorie index</h1>
<div class="overflow-x-auto pl-20 pr-20 pb-20">
  <table class="table table-zebra w-full shadow-xl">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.name }}</td>
                <td>
                    <a class="btn btn-outline btn-primary" href="{{ path('app_categorie_show', {'id': categorie.id}) }}">show</a>
                    <a class="btn btn-outline btn-secondary" href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </table>
    <a class="btn btn-outline btn-primary" href="{{ path('app_categorie_new') }}">Create new</a>
</div>
{% endblock %}

