{% extends 'base.html.twig' %}

{% block title %}
    User index
{% endblock %}

{% block body %}

    <style>
    body{
        background-attachment: scroll;
        overflow-y:hidden;
    }

    .index{
        top:40%;
        width:60%;
        height:100vh;
        position:sticky;
        overflow:scroll;
}
</style>

    <style>
    body{
        background-attachment: scroll;
        overflow-y:hidden;
    }

    .nav{
      position:fixed;
      top:0;  
      width:100vw;
  }

    .index{
        top:40%;
        width:60%;
        height:100vh;
        position:absolute;
        overflow:scroll;
}

.popup{
  position:absolute;
  top:0;
  z-index:3;
  opacity:0.9;
  right:10px;
}

.title{
  /* position:absolute;
  top:30%; */
  position:absolute;
  top:10%;
}
</style>
    {# navbar #}
    <nav class="bg-white border-gray-200 dark:bg-gray-900 nav">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="https://flowbite.com/" class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="260" height="66" viewBox="0 0 260 66">
                    <circle fill="#1A171B" cx="32.455" cy="32.665" r="32.455"></circle>
                    <path fill="#FFF" d="M46.644 12.219c-3.297.115-6.175 1.932-8.317 4.446-2.372 2.756-3.95 6.025-5.087 9.362-2.034-1.667-3.603-3.825-6.866-4.766-2.522-.724-5.171-.425-7.607 1.39-1.154.862-1.949 2.165-2.327 3.39-.979 3.183 1.029 6.016 1.941 7.033l1.994 2.137c.411.419 1.401 1.512.917 3.079-.523 1.704-2.577 2.807-4.684 2.157-.941-.287-2.293-.988-1.99-1.975.125-.404.414-.706.569-1.055.142-.3.21-.525.253-.657.385-1.257-.141-2.892-1.487-3.307-1.256-.385-2.541-.08-3.039 1.537-.565 1.837.314 5.171 5.023 6.623 5.517 1.695 10.184-1.309 10.846-5.227.417-2.454-.691-4.277-2.721-6.622l-1.654-1.829c-1.002-1.001-1.346-2.707-.309-4.018.875-1.106 2.121-1.578 4.162-1.023 2.979.809 4.307 2.876 6.523 4.543-.915 3.001-1.513 6.013-2.054 8.714l-.33 2.014c-1.584 8.308-2.793 12.87-5.935 15.489-.633.45-1.538 1.124-2.902 1.171-.715.022-.946-.47-.956-.684-.017-.502.406-.732.687-.958.42-.229 1.055-.609 1.012-1.826-.046-1.438-1.237-2.685-2.959-2.628-1.29.044-3.256 1.258-3.182 3.48.077 2.295 2.216 4.015 5.441 3.906 1.724-.059 5.574-.761 9.368-5.271 4.416-5.17 5.651-11.097 6.58-15.435l1.037-5.727c.576.069 1.192.115 1.862.131 5.5.116 8.251-2.733 8.292-4.805.027-1.254-.823-2.488-2.013-2.46-.852.024-1.922.591-2.179 1.769-.251 1.156 1.75 2.199.186 3.212-1.111.719-3.103 1.226-5.908.814l.51-2.819c1.041-5.346 2.325-11.922 7.196-12.082.355-.018 1.654.016 1.684.875.009.287-.062.36-.398 1.017-.342.512-.471.948-.455 1.449.047 1.365 1.085 2.262 2.586 2.208 2.01-.065 2.588-2.022 2.555-3.027-.081-2.361-2.57-3.853-5.865-3.745z"></path>
                </svg>
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
                    My_quizz
                                            
                </span>
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">
                    Open main menu
                                            
                </span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    {% for item in items %}

                        {% if item.route == 'app_logout' %}
                            {% if app.user %}
                                <div class="mb-3 popup">
                                    You are logged in as 
                                                                                                                                       
                                                                                                
                                                                                
                                    {{ app.user.userIdentifier }}

                                </div>
                                <li>
                                    <a href="{{ path('app_logout') }}" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">
                                        {{ item.title }}
                                    </a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li>
                                <a href="{{ path(item.route) }}" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">
                                    {{ item.title }}
                                </a>
                            </li>
                        {% endif %}
                        {% else %}

                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    <h1 class="text-5xl font-bold p-20 title">
        User index
    </h1>
    <div class="overflow-x-auto pl-20 pr-20 pb-20 index w-80">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Password
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        CreatedAt
                    </th>
                    <th>
                        UpdatedAt
                    </th>
                    <th>
                        IsActive
                    </th>
                    <th>
                        IsAdmin
                    </th>
                    <th>
                        actions
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            {{ user.id }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {{ user.password }}
                        </td>
                        <td>
                            {{ user.username }}
                        </td>
                        <td>
                            {{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td>
                            {{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}
                        </td>
                        <td>
                            {{ user.isActive ? 'Yes' : 'No' }}
                        </td>
                        <td>
                            {{ user.isAdmin ? 'Yes' : 'No' }}
                        </td>
                        <td>
                            <a class="btn btn-outline btn-primary" href="{{ path('app_user_show', {'id': user.id}) }}">
                                show
                            </a>
                            <a class="btn btn-outline btn-secondary" href="{{ path('app_user_edit', {'id': user.id}) }}">
                                edit
                            </a>
                            <a class="btn btn-outline btn-success" href="{{ path('app_user_new') }}">
                                Create new
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">
                            no records found
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
